#This group of macros allows for increased functionality of the printer.
#Included are macros allowing the dynamic changing of pressure advance and
#acceleration by the slicer, and a macro to enable filament swaps
#mid-print.

[gcode_macro M900]
description: Set Pressure Advance
gcode:
  {% if 'K' in params %}
    {% if 'E' in params %}
		{% if 'E0' in params %}
		SET_PRESSURE_ADVANCE EXTRUDER=extruder ADVANCE={params.K}
		{% elif 'E1' in params %}
		SET_PRESSURE_ADVANCE EXTRUDER=extruder1 ADVANCE={params.K}
		{% else %}
      SET_PRESSURE_ADVANCE ADVANCE={params.K}
      {% endif %}
    {% endif %}
  {% endif %}

[gcode_macro M600]
description: Swap filament during print
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro M204]
description: Set Acceleration
# Klipper accepts M204 S<value> OR M204 P<value> T<value> where both P and T must be specified
# PrusaSliser sends M204 P<value> without T and Klipper shows an error
# This macro makes M204 command more versatile
rename_existing: M204.1
gcode:
    {% set factor = params.F|default(0.5)|float %}
    {% if 'S' in params %}
        {% set ASSEL = params.S|default(0)|float %}
    {% else %}
        {% if 'P' in params %}
            {% if 'T' in params %}
                {% if P|int < T|int %}
                    {% set ASSEL = params.P|default(0)|float %}
                {% else %}
                    {% set ASSEL = params.T|default(0)|float %}
                {% endif %}
            {% else %}
                {% set ASSEL = params.P|default(0)|float %}
            {% endif %}
        {% elif 'T' in params %}
            {% set ASSEL = params.T|default(0)|float %}
        {% endif %}
    {% endif %}
    SET_VELOCITY_LIMIT ACCEL={ASSEL} ACCEL_TO_DECEL={ASSEL*factor}
